.container {
    background-color: var(--cb);
    border-radius: 20px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    height: 108px;
    padding: 0 20px;
    border-bottom: 20px solid var(--cb);
    border-top: 20px solid var(--cb);
    box-sizing: content-box;
    cursor: pointer;
}